:root {
  --aul-escuro: #024059;
  --azul-claro: #026873;
  --verde-claro: #04BF8A;
  --verde-escuro: #025940;
  --verde-medio: #03A64A;
  --fonte-principal: 'Montserrat';
  --branco: #FFFFFF;
  --preto: black;
}

body {
  font-family: var(--fonte-principal);
}

.cabecalho {
  background: var(--aul-escuro);
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 2em;
  align-items: center;
}

.cabecalho__texto {
  flex-direction: column;
  margin: 2em;
}

.cabecalho img {
  width: 200px;
  margin: 0 10vw;
  border-radius: 50%;
  margin-top: 3em;
}

.nome {
  color: var(--branco);
  font-weight: 500;
  font-size: 46px;
}

.informacoes {
  color: var(--branco);
  font-size: 20px;
  margin: 1em;
}


.titulo {
  color: #FFF;
  font-size: 1.1em !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.teste__item:hover .titulo {
  transform: scale(1);
  transition-delay: 0.25s;
}



.cabecalho__logos {
  grid-column: 2 / 3;
  display: flex;
  margin: 0 0 0 2em;
  
}
/* TESTEEEEEAAAAAAAAAAAAAAAAAAAAA */
.social__menu {
  margin: 1em;
}

.social__menu ul {
  position: absolute;
  display: flex;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
}

.social__menu ul li {
  list-style: none;
  margin: 0 15px;
}

.social__menu ul li .fab, .social__menu ul li .far {
  font-size: 30px;
  line-height: 60px;
  transition: .3s;
  color: #FFF;
}

.social__menu ul li .fab:hover, .social__menu ul li .far:hover {
  color: var(--azul-claro);
}



.social__menu ul li a {
  color: #FFF;
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  transition: .3s;
  border-radius: 50%;
  background: #024059;
  box-shadow:  9px -9px 13px #023449,
             -9px 9px 13px #024c69;
}

.social__menu ul li a:hover {
  transform: translate(0, -10%);
  border-radius: 50%;
  border-radius: 50%;
background: #c7c7c7;
box-shadow: inset 9px -9px 13px #b8b8b8,
            inset -9px 9px 13px #ffffff;

}



/* TESTEEEEEAAAAAAAAAAAAAAAAAAAAA */
.cabecalho__logos img{
  transition: .2s;
}

.cabecalho__logos img:hover {
  transform: scale(1.1);
}

.cabecalho__logos a img {
  width: 50px;
  height: 50px;
  margin: 0 1em;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.sobre, .experiencias, .cursos {
  width: 70vw;
  margin: 3em auto;
  border: solid 1px var(--preto);
}

.sobre__titulo, .experiencias__titulo, .cursos__titulo {
  font-size: 24px;
  font-weight: 500;
  background-color: var(--azul-claro);
  padding: .5em;
  color: var(--branco);
}

.sobre__texto {
  font-size: 18px;
  margin: 1em;
}

.caixa {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.experiencias__data {
  font-size: 20px;
  background: var(--verde-claro);
  padding: .5em;
  margin: 0;

}

.experiencias__texto:nth-child(2), .cursos__texto:nth-child(2) {
  text-transform: uppercase;
  margin: .5em;
  font-size: 18px;
}

.experiencias__texto:nth-child(3) {
  text-align: start;
  margin-left: .5em;
 
}

.experiencias__empresas {
  padding-bottom: 1em;
}

.cursos__titulo-html {
  background-color: var(--verde-escuro);
  padding: .5em;
  font-size: 20px;
  font-weight: bold;
}

.cursos__titulo-js {
  background-color: var(--verde-medio);
  padding: .5em;
  font-size: 20px;
  font-weight: bold;
}

.cursos__titulo-design {
  background-color: var(--verde-claro);
  padding: .5em;
  font-size: 20px;
  font-weight: bold;
}

.cursos__texto {
  margin: 1em 0;
}

.cursos__texto:nth-child(3) {
  text-align: start;
  margin: 1em;
}



.certificados {
  background-color: var(--aul-escuro);
  text-align: center;
  align-items: center;
  margin: 1em;
  padding: 1em;
  text-decoration: none;
  color: var(--branco);
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.2s;
}

.certificados:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1024px) {
  .cabecalho {
    display: flex;
    flex-direction: column;
  }

  .nome {
    font-size: 24px;
    text-align: center;
  }

  .informacoes {
    font-size: 20px;
    text-align: center;
  }

  .cabecalho__logos {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto
  }

  .experiencias, .sobre, .cursos{
    width: 90vw;
  }

  .cabecalho__logos a img{
    margin: .5em;
  }

  .certificados {
    font-size: 18px;
  }
}